/* BODY STYLE START */
body{
    height: 100vw;
    padding: 0;
}
/* BODY STYLE END */

/* LOGO STYLE START */
.logo{
    color: white;
    height: 59px;
    background-color: black;
}
/* LOGO STYLE END */

/* HEADER STYLE START */
.header{
    height: 59px;
    background-color: #736F6F;
}
/* HEADER STYLE END */

/* SIDE MENU BAR STYLE START */
.side-menubar{
    color: white;
    background-color: black
}

.nav-tabs{
    margin-top: 20%;
    border-bottom: none;
}

.nav-item{
    text-align: center;
    width: 100%;
}

.nav-link{
    padding:5% 0;
}

.nav-tabs .nav-item {
    margin: 40% 0;
}

.nav-tabs .nav-item .nav-link.active {
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 0
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
    border: none
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:active {
    border: none
}

a{
    color:white
}

a:hover{
    color: white
}
/* SIDE MENU BAR STYLE END */

/* WORKFLOW CARDS STYLE START */

.card{
    margin-bottom: 5%;
    border: none;
    background: #C4C4C4;

}

.workflow-title {
    margin: 5% 0;
}

.workflow-header{
    padding-top: 25%;
}

/* WORKFLOW CARDS STYLE END */

/* GRAPH SECTION STYLE START */
.graph-section{
    background-color: #CAC9C9
}
/* GRAPH SECTION STYLE END */

